.head-title {
    -fx-font-size: 22px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.btn-add {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.btn:hover {
    -fx-opacity: 0.8;
}

.btn-update {
    -fx-background-color: #d1c300;
    -fx-text-fill: white;
}

.btn-delete {
    -fx-background-color: #d10000;
    -fx-text-fill: white;
}

.delete-icon {
    -fx-cursor: hand;
    -glyph-size: 20px;
    -fx-opacity: 0.7;
    -fx-fill: #ff0000;
}

.delete-icon:hover {
    -fx-opacity: 1;
}
/*---------------Sign in/Sign up style-----------------*/

/*color1: #0598ff: lighblue
color2: #005792: darkblue */

.title {
    -fx-font-size: 20px;
    -fx-fill: #005792;
    -fx-font-weight: bold;
}

.input_text {
    -fx-background-color: transparent;
/*    -fx-border-color: #0598ff;
    -fx-border-width: 0px 0px 2px 0px;*/
}



.lbforgot {
    -fx-text-fill: gray;
}

.lbforgot:hover {
    -fx-text-fill: black;
}

.button1 {
    -fx-background-color: #005792;
    -fx-text-fill: white;
}

.button1:hover {
    -fx-background-color: #0598ff;
}

.back {
    -fx-opacity: 0.5;
}

.back:hover {
    -fx-opacity: 1;
}

/*---------------Manage trip style-----------------*/

.enterfield {
    -fx-border-style: solid ;
    -fx-border-color: #888888;
    -fx-background-color: white;
}

.lbl {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}



/*---------------Ticket Form style-----------------*/

.content {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.discrip {
    -fx-text-fill: #005792;
    -fx-font-size: 11px;
}

.note {
    -fx-font-size: 11px;
    -fx-fill: red;
}

.note-place {
    -fx-border-style: dashed;
    -fx-border-color: red;
}

/*---------------Table View style-----------------*/

.table-view {
    -fx-background-color:#a5daff;
    -fx-background-radius:10 10 0 0;
}
    
.table-view .column-header-background{
        -fx-background-color: #a5daff;
        -fx-background-radius:10;
        -fx-background-insets: 0 0 10 0;
}
    
.table-view .column-header, .table-view .filler{
        -fx-size:40px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
}
    
.table-view .column-header .label {
        -fx-text-fill: #000000;
        -fx-alignment: CENTER;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color: #e7e7e7;
}

.table-row-cell:selected .text {
    -fx-fill: #000000;
}
    
.table-view .increment-button, 
.table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em; 
}
